.secondInput{
    width: 90%;
    margin-left: 3%;
    height: 40%;
    outline-style: none !important;
    box-shadow: 0 0 2px;
    border-radius: 15px;
}

.secondSelection{
    width: 90%;
    height: 50%;
    margin-top: 10px;
    background-color: #FFD700 !important;
}